@{
    ViewData["Title"] = "Admin Page";
}

<!-- Navigační lišta -->
<partial name="_NavBar" />

<!-- Obsah stránky Admin -->
<div class="container mt-4">
    <h1>Admin Page</h1>
    <p>Welcome to the admin panel!</p>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/Mainpage.css" asp-append-version="true" />
}
