@{
    ViewData["Title"] = "Contacts Page";
}

<!-- Navigační lišta -->
<partial name="_NavBar" />

<!-- Obsah stránky Contacts -->
<div class="container mt-4">
    <h1>Contacts Page</h1>
    <p>Manage your contacts here.</p>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/Mainpage.css" asp-append-version="true" />
}