@{
    ViewData["Title"] = "Profile";
}

<!-- Navigační lišta -->
<partial name="_NavBar" />

<!-- Obsah stránky User -->
<div class="container mt-4">
    <h1>User profile</h1>
    <p>Welcome to your user profile!</p>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/Mainpage.css" asp-append-version="true" />
}