@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid page-background">
    <!-- Header -->
    <div class="header">
        <div class="header-content">
            <h1 class="header-title">UTB Chatter 2024</h1>
        </div>
    </div>

    <!-- Welcome Text -->
    <div class="welcome-text">
        <h2>Welcome to realtime UTB Chatter</h2>
        <p>Safe chatting with your friends</p>
    </div>

    <!-- Login Form -->
    <div class="center-container">
        <div class="form-box">
            <h3 class="form-title">Login</h3>
            <form>
                <!-- Email -->
                <label for="login-email">E-mail</label>
                <input id="login-email" type="email" placeholder="example@example.com" class="form-control" />

                <!-- Password -->
                <label for="login-password">Password</label>
                <input id="login-password" type="password" placeholder="*********" class="form-control" />

                <!-- Login Button -->
                <button type="submit" class="btn submit-button">Login</button>

                <div class ="register-link">
                    <p>Don´t have an account?
                        <a href="/Account/Register" class="link-register">Register</a>
                    </p>
                    </div>
            </form>
        </div>
    </div>
</div>



@section Styles
{
    <link rel="stylesheet" href="~/css/indexmain.css" asp-append-version="true" />
}
