@model UTB_social_network_Dudik.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid page-background">
    <!-- Header -->
    <div class="header">
        <div class="header-content">
            <h1 class="header-title">UTB Chatter 2024</h1>
        </div>
    </div>

    <!-- Welcome Text -->
    <div class="welcome-text">
        <h2>Welcome to realtime UTB Chatter</h2>
        <p>Safe chatting with your friends</p>
    </div>

    <!-- Login Form -->
    <div class="center-container">
        <div class="form-box">
            <h3 class="form-title">Login</h3>
            <form method="post" asp-controller="Account" asp-action="Login">
                <!-- Email -->
                <label for="login-email">E-mail</label>
                <input id="login-email" name="Email" type="email" placeholder="example@example.com" class="form-control" required />

                <!-- Password -->
                <label for="login-password">Password</label>
                <input id="login-password" name="Password" type="password" placeholder="*********" class="form-control" required />

                <!-- Error Message -->
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="text-danger">
                        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <p>@error.ErrorMessage</p>
                        }
                    </div>
                }

                <!-- Login Button -->
                <button type="submit" class="btn submit-button">Login</button>

                <div class="register-link">
                    <p>
                        Don´t have an account?
                        <a asp-controller="Account" asp-action="Register" class="link-register">Register</a>
                    </p>
                </div>
            </form>
        </div>
    </div>

@section Styles
{
    <link rel="stylesheet" href="~/css/indexmain.css" asp-append-version="true" />
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}