@{
    ViewData["Title"] = "Privacy Policy";
}

<partial name="_NavBar" />

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>



@section Styles {
    <link rel="stylesheet" href="~/css/Mainpage.css" asp-append-version="true" />
}