/* Globální styl */
html, body {
    font-family: 'Rubik', sans-serif;
    background-color: #081823;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.chat-container {
    display: flex;
    height: 100%;
}

/* Levý panel */
.chat-sidebar {
    width: 300px; /* Pevná šířka sidebaru */
    background-color: #0D1B2A;
    margin: 0; /* Žádný margin */
    padding: 0; /* Žádný padding */
    border-right: 1px solid #1B263B;
    box-sizing: border-box; /* Zahrnutí paddingu a borderu do šířky */
    overflow-y: auto; /* Scroll při přeplnění */
    position: absolute; /* Absolutní pozice pro fixaci na levý okraj */
    left: 0; /* Posunutí úplně doleva */
    top: 0; /* Zarovnání nahoru */
    bottom: 0; /* Roztažení na výšku */
}

.search-input {
    background-color: #1B263B;
    color: #FFFFFF;
    border: none;
}

.list-group-item {
    background-color: #1B263B;
    color: #FFFFFF;
    border: none;
    transition: background 0.3s ease;
}

    .list-group-item:hover, .list-group-item.active {
        background-color: #415A77;
        color: #C1E6FF;
    }

/* Pravý panel */
.chat-content {
    margin-left: 300px; /* Posun pravého panelu o šířku sidebaru */
    flex: 1; /* Zabírá zbytek prostoru */
    background-color: #081823;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A9A9A9;
    font-size: 18px;
    margin: 0;
}

/* Navigační lišta */
.navbar {
    background-color: #081823 !important;
    border-bottom: 2px solid #C1E6FF;
}

.nav-link {
    color: #C1E6FF !important;
    transition: color 0.3s ease;
}

    .nav-link:hover {
        color: #FFFFFF !important;
    }

/* Admin Page User List Styles */
.user-list {
    margin-top: 20px;
}

.user-bar {
    background-color: #1B263B; /* Darker background for blending */
    border: 1px solid #415A77; /* Subtle border for contrast */
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    transition: background 0.3s ease, transform 0.2s ease;
}

    .user-bar:hover {
        background-color: #2E3C50; /* Slightly lighter on hover */
        transform: translateY(-2px); /* Hover effect for engagement */
    }

.user-info {
    flex-grow: 1;
}

    .user-info p {
        margin: 0;
        padding: 5px 0;
        color: #C1E6FF; /* Light text for readability */
    }
