/* Globální styl */
html, body {
    font-family: 'Rubik', sans-serif;
    background-color: #081823;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.chat-container {
    background-color: #E8DEF8;
    width: 100%;
    border-radius: 10px;
    display: flex;
    height: 100%; /* Změněno na 100% */
}

/* Levý panel */
.chat-sidebar {
    width: 300px;
    background-color: #E8DEF8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    height: 80%;
    position: fixed;
    left: 0;
    top: 12%;
}

.chats-title {
    font-size: 24px;
    color: #497FA5;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 20px;
}

.search-input {
    background-color: #E8F0FE;
    font-weight: bold;
    color: #19425e;
    border: 1px solid #497FA5;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.chat-tab {
    background-color: #E8DEF8;
    color: #497FA5;
    border: 1px solid #497FA5;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: left;
    justify-content: space-between;
    display: flex;
    align-items: center;
    transition: border 0.01s ease, font-weight 0.01s ease; /* Přidáme font-weight k přechodu */
}

#chatTabs {
    display: flex;
    flex-direction: column;
}

.chat-tab:hover {
    font-weight: bold;
    border: 2px solid #497FA5;
}

.chat-tab.active {
    font-weight: bold;
    border: 3.5px solid #497FA5;
}

.chat-content {
    position: relative; /* Nastaví rodiče jako referenční bod */
    margin: 0 auto; /* Vycentrování vodorovně */
    padding: 20px;
    height: max; /* Nastavená pevná výška */
    max-width: 800px; /* Maximální šířka */
    width: 100%; /* Šířka odpovídá rodiči, ale ne větší než max-width */
    overflow-y: auto; /* Zachová svislý posuvník pouze pro obsah */
    background-color: #E8DEF8;
    border: 1px solid #ccc; /* Volitelný rámeček */
    border-radius: 8px; /* Zaoblené rohy */
}

.row {
    width: 1000px;
    text-align: center;
    background-color: #E8DEF8;
    border-radius: 10px;
}

.chat-default-message {
    font-size: 30px;
    color: #497FA5;
    font-style: italic;
    letter-spacing: 3px;
    display: inline-block;
    text-align: center;
    background-color: #E8DEF8;
}



.chat-details {
    display: none;
}


.chat-header {
    font-size: 28px;
    letter-spacing: 2px;
    color: #497FA5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-icon {
    width: 50px;
    height: 50px;
}

.message-icon-list {
    width: 30px;
    height: 30px;
}

.chat-status {
    font-size: 16px;
    color: #497FA5;
    margin-top: 10px;
    text-align: center;
    display: flex;
}

.status {
    font-weight: bold;
}

.chat-window {
    margin-top: 20px;
    padding: 10px;
    background-color: #081823;
    border: 1px solid #497FA5;
    border-radius: 10px;
    height: 500px; /* Pevná výška */
    width: 100%; /* Použije celou dostupnou šířku rodičovského elementu */
    max-width: 800px; /* Maximální šířka */
    overflow-y: scroll; /* Posuvník pro případ přetečení obsahu */
}

.messages-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Mezera mezi zprávami */
}

.chat-input {
    display: flex;
    margin-top: 20px;
    width: 100%;
    background-color: #E8DEF8;
}



.message-input {
    flex-grow: 1; /* Zajistí, že se textové pole roztáhne na dostupný prostor */
    background-color: #081823;
    color: #497FA5;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.send-message-btn {
    width: 60px;
    background-color: #E8DEF8;
    color: #497FA5;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}

    .send-message-btn:hover {
        color: #FFFFFF;
        font-size: 26px;
    }

.chat-message {
    display: inline-block;
    max-width: 80%; /* Omezení šířky zpráv */
    word-wrap: break-word; /* Přerušení dlouhých slov */
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px; /* Mezera mezi zprávami */
    font-style: italic;
    font-weight: bold;
}

.chat-message.sender {
    align-self: flex-end; /* Zarovnání na pravou stranu */
    background-color: #497FA5; /* Barva pozadí */
    color: #FFFFFF; /* Barva textu */

}

    .chat-message.receiver {
        align-self: flex-start; /* Zarovnání na levou stranu */
        background-color: #E8F0FE; /* Barva pozadí */
        color: #081823; /* Barva textu */
    }


.message-text {
    font-size: 16px;
}

/* Vzhled scrollbaru */
.chat-window::-webkit-scrollbar {
    width: 12px; /* Šířka scrollbaru */
    height: 12px; /* Výška scrollbaru */
}

.chat-window::-webkit-scrollbar-thumb {
    background-color: #E8DEF8; /* Barva scrollbarového "thumbu" */
    border-radius: 10px; /* Zaoblení scrollbarového "thumbu" */
    border: 2px solid #497FA5; /* Okraj kolem scrollbarového "thumbu" */
}

.chat-window::-webkit-scrollbar-track {
    background-color: #497FA5; /* Barva pozadí scrollbarového tracku */
    border-radius: 10px; /* Zaoblení pozadí tracku */
}




.my-message {
    background-color: #497FA5;
    color: #081823;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: bold;
    align-self: flex-end; /* Zprávy na levé straně */
    margin-left: auto; /* Posun zpráv doleva */
}

.other-message {
    background-color: #E8DEF8;
    color: #081823;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: bold;
    align-self: flex-start; /* Zprávy na levé straně */
    margin-right: auto; /* Posun zpráv doleva */
}

.messages-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Mezera mezi zprávami */
}
